/* custom.css */

/* two columns , text on the left, plot on the left*/
  .left-text {
    width: 45%;
    height: 92%;
    float: left;
  }
.right-plot {
  width: 55%;
  float: right;
  padding-left: 1%;
}

.just-text {
  text-align: justify;
  text-justify: auto;
  margin-right: 10px;
}

/* bold text */
.emp-text { 
 font-weight: bold;
  font-size:35px;
}
.emp-text-red { 
  color: red;
  font-weight: bold;
  font-size:35px;

}

.emp-italic {
  color: var(--secondary);
  font-style: italic;
  
}

/*four even columns */
.column-quarter {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-third {
  float: left;
  width: 33%;
}

.right-third {
  float: right;
  width: 33%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

